## Deliverable 2. Create a Customer Travel Destinations Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [31]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/Coral/Desktop/GWU Data BC/Week 6/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country,Date
0,0,Tuatapere,-46.1333,167.6833,51.40,88,96,3.00,Clouds,NZ,2022-09-20 23:24:14
1,1,Rikitea,-23.1203,-134.9692,73.36,75,0,14.94,Rain,PF,2022-09-20 23:24:14
2,2,Puerto Ayora,-0.7393,-90.3518,66.54,96,64,8.99,Clouds,EC,2022-09-20 23:24:14
3,3,Pevek,69.7008,170.3133,40.84,52,89,17.38,Clouds,RU,2022-09-20 23:24:14
4,4,Suntar,62.1444,117.6319,32.79,86,100,8.52,Clouds,RU,2022-09-20 23:24:15

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [36]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country,Date
1,1,Rikitea,-23.1203,-134.9692,73.36,75,0,14.94,Rain,PF,2022-09-20 23:24:14
5,5,Mahebourg,-20.4081,57.7000,71.26,83,40,9.22,Clouds,MU,2022-09-20 23:24:15
7,7,Maceio,-9.6658,-35.7353,72.84,88,0,4.61,Clear,BR,2022-09-20 23:24:16
9,9,Sao Gabriel Da Cachoeira,-0.1303,-67.0892,75.74,87,31,3.91,Clouds,BR,2022-09-20 23:24:16
11,11,Port Moresby,-9.4431,147.1797,83.62,74,40,3.44,Haze,PG,2022-09-20 23:20:50
13,13,Quatre Cocos,-20.2078,57.7625,71.10,82,64,17.83,Rain,MU,2022-09-20 23:24:17
16,16,Padang,-0.9492,100.3543,75.25,87,99,3.74,Clouds,ID,2022-09-20 23:24:18
18,18,Kavaratti,10.5669,72.6420,80.67,78,100,13.33,Clouds,IN,2022-09-20 23:24:18
19,19,Sao Joao Da Barra,-21.6403,-41.0511,73.49,86,55,16.42,Clouds,BR,2022-09-20 23:24:19
21,21,Kununurra,-15.7667,128.7333,82.38,61,10,0.00,Clear,AU,2022-09-20 23:24:19

In [37]:
# 4a. Determine if there are any empty rows.
nan_row = preferred_cities_df.loc[preferred_cities_df.isna().any(axis=1)]
print(nan_row)

Empty DataFrame
Columns: [City_ID, City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Weather Description, Country, Date]
Index: []

In [38]:
nan_row = preferred_cities_df.loc[preferred_cities_df.isnull().any(axis=1)]
print(nan_row)

Empty DataFrame
Columns: [City_ID, City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Weather Description, Country, Date]
Index: []

In [39]:
preferred_cities_df.count()

City_ID                270
City                   270
Lat                    270
Lng                    270
Max Temp               270
Humidity               270
Cloudiness             270
Wind Speed             270
Weather Description    270
Country                270
Date                   270
dtype: int64

In [58]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
clean_df.count()

City_ID                270
City                   270
Lat                    270
Lng                    270
Max Temp               270
Humidity               270
Cloudiness             270
Wind Speed             270
Weather Description    270
Country                270
Date                   270
dtype: int64

In [45]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Rikitea,PF,73.36,Rain,-23.1203,-134.9692,
5,Mahebourg,MU,71.26,Clouds,-20.4081,57.7000,
7,Maceio,BR,72.84,Clear,-9.6658,-35.7353,
9,Sao Gabriel Da Cachoeira,BR,75.74,Clouds,-0.1303,-67.0892,
11,Port Moresby,PG,83.62,Haze,-9.4431,147.1797,
13,Quatre Cocos,MU,71.10,Rain,-20.2078,57.7625,
16,Padang,ID,75.25,Clouds,-0.9492,100.3543,
18,Kavaratti,IN,80.67,Clouds,10.5669,72.6420,
19,Sao Joao Da Barra,BR,73.49,Clouds,-21.6403,-41.0511,
21,Kununurra,AU,82.38,Clear,-15.7667,128.7333,

In [48]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Rikitea,PF,73.36,Rain,-23.1203,-134.9692,People ThankYou
5,Mahebourg,MU,71.26,Clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Maceio,BR,72.84,Clear,-9.6658,-35.7353,Hotel Ponta Verde Maceió
9,Sao Gabriel Da Cachoeira,BR,75.74,Clouds,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
11,Port Moresby,PG,83.62,Haze,-9.4431,147.1797,Lamana Hotel (Port Moresby)
...,...,...,...,...,...,...,...
698,Flagstaff,US,73.53,Clouds,35.1981,-111.6513,Drury Inn & Suites Flagstaff
699,Nishihara,JP,78.46,Clouds,26.1842,127.7558,Minshuku Agaihama
700,Tiarei,PF,84.22,Rain,-17.5333,-149.3333,Le Rocher de Tahiti
702,Boyolangu,ID,76.57,Clouds,-8.1181,111.8935,Yos ega cv
704,Doka,SD,70.07,Clouds,13.5167,35.7667,Um Rakuba Refugee Camp

In [63]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis='index', how="any")
clean_hotel_df.count()

City                   270
Country                270
Max Temp               270
Weather Description    270
Lat                    270
Lng                    270
Hotel Name             270
dtype: int64

In [83]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/Coral/Desktop/GWU Data BC/Week 6/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [80]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [82]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))